.woocommerce-page {
  &.woocommerce-account,
  &.woocommerce-cart,
  &.woocommerce-checkout {
    header.entry-header > div {
      @apply ml-0;
      h1.entry-title {
        @apply lg:text-4xl;
      }
    }
  }

  input,
  textarea {
    @apply text-sm;
  }
}

#ncmaz-single-entry-content .woocommerce {
  .nc_wc_empty_cart_message_div {
    @apply my-6;
  }
  // .blockUI.blockOverlay
  .blockUI.blockOverlay {
    @apply dark:bg-neutral-900 #{!important};
  }
}

.lost_password a {
  @apply underline font-medium;
}

.button,
.added_to_cart {
  @apply pointer-events-auto rounded-xl py-2 px-3 font-medium inline-flex justify-center items-center bg-neutral-50 dark:bg-neutral-800 dark:text-white 
  dark:hover:bg-neutral-700 hover:bg-neutral-100 shadow-sm text-black ring-1 ring-slate-700/10 dark:ring-white/10 no-underline;
}
.button.wc-backward {
  @apply px-6 pointer-events-auto bg-primary-6000 py-3 font-medium text-white hover:bg-primary-500 inline-flex justify-center;
}

// START
.star-rating {
  @apply overflow-hidden relative h-4 leading-none text-base w-20;
  font-family: "Line Awesome Free";
  font-weight: 900;
  span {
    @apply overflow-hidden float-left top-0 left-0 absolute pt-6 text-yellow-500;
    &:before {
      @apply text-yellow-500;
    }
  }
  &:before {
    @apply float-left text-neutral-900/20 dark:text-white/20;
  }
}

.star-rating:before,
.star-rating span:before {
  content: "\f005\f005\f005\f005\f005";
  @apply top-0 left-0 absolute;
}
//
p.stars {
  @apply inline-block ml-5;
  span {
    @apply flex;
  }
}

p.stars a {
  @apply flex-1 relative h-5 w-5 overflow-hidden inline-flex;
  text-indent: -999em;
  text-decoration: none;
}
p.stars a:before,
p.stars a:hover ~ a:before,
p.stars.selected a.active ~ a:before {
  @apply text-neutral-400;
}

p.stars.selected a.active:before,
p.stars:hover a:before,
p.stars.selected a:not(.active):before,
p.stars.selected a.active:before {
  @apply text-yellow-500;
}
p.stars a:hover ~ a:before,
p.stars.selected a.active ~ a:before {
  @apply text-neutral-900/20 dark:text-white/20;
}

p.stars.selected a:not(.active):before,
p.stars.selected a.active:before,
p.stars:hover a:before {
  @apply text-yellow-500 dark:text-yellow-500 opacity-100;
}

p.stars a:before {
  @apply flex absolute top-0 left-0 h-5 w-5 leading-none text-neutral-900 dark:text-white opacity-25 text-lg;
  font-family: "Line Awesome Free";
  font-weight: 900;
  content: "\f005";
  text-indent: 0;
}
//

.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.woocommerce-notice {
  @apply relative my-8 p-4 pl-14 bg-primary-50 dark:bg-primary-900/50 rounded-2xl text-sm sm:text-base text-primary-900 dark:text-primary-100;
  &::before {
    content: "\f06a";
    @apply absolute left-4 top-4 text-2xl;
    font-family: "Line Awesome Free";
    font-weight: 900;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
  }
  .button {
    @apply mr-4 p-0 bg-transparent border-0 ring-0 shadow-none;
  }
  a {
    @apply underline font-medium;
  }
}
.woocommerce-error {
  @apply bg-red-50 dark:bg-red-700/30 text-red-600 dark:text-red-200;
}

.woocommerce-store-notice,
p.demo_store {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  width: 100%;
  padding: 1em 0;
  text-align: center;
  background-color: #a46497;
  color: #fff;
  z-index: 99999;
  box-shadow: 0 1px 1em rgb(0 0 0 / 20%);
  @apply text-sm;
  .woocommerce-store-notice__dismiss-link {
    @apply underline ml-3;
  }
}

.rb-mini-cart {
  @apply relative;
  .rb-cart-link {
    .cart-counter {
      @apply absolute -right-2 -top-1.5 xl:right-1 xl:top-1 text-[9px] xl:text-[10px] leading-none font-medium xl:font-semibold not-italic flex w-3.5 h-3.5 xl:w-4 xl:h-4 bg-primary-500 text-white items-center justify-center rounded-full;
    }
  }
  .nav-mini-cart {
    @apply hidden xl:block absolute top-full right-0 opacity-0 transition-all invisible translate-y-2 will-change-transform py-3 bg-transparent;
    > .mini-cart-wrap.woocommerce {
      @apply bg-white dark:bg-neutral-800 border border-neutral-200 dark:border-neutral-700 rounded-xl shadow-xl;
    }
  }
  &:hover {
    .nav-mini-cart {
      @apply opacity-100 translate-y-0 visible;
    }
  }

  .widget_shopping_cart_content {
    .nc-wc_shopping_mini-cart_content {
      @apply w-screen max-w-md;
    }
    .woocommerce-mini-cart__empty-message {
      @apply flex flex-col space-y-4 text-center p-5 text-sm whitespace-nowrap;
      p {
        @apply block;
      }
    }
  }

  ul.woocommerce-mini-cart {
    @apply max-h-[60vh] overflow-y-auto divide-y divide-neutral-200 dark:divide-neutral-700;
  }

  li.woocommerce-mini-cart-item {
    @apply flex items-center p-4;
    .nc-mini-cart-item__content {
      @apply flex flex-1 items-center;
      img {
        @apply w-20 rounded-xl;
      }
    }
    .nc-mini-cart-item__content-right {
      @apply ml-3 flex flex-col font-medium;
      .quantity {
        @apply text-neutral-700 dark:text-neutral-300 font-normal mt-0.5;
      }
    }
  }
  .woocommerce-mini-cart__total {
    @apply flex justify-between text-base font-medium;
    strong {
      @apply font-medium;
    }
  }
  .woocommerce-mini-cart__buttons {
    @apply mt-6 flex items-center justify-center space-x-2.5;
    a {
      @apply flex-grow;
      &.checkout {
        @apply text-white bg-primary-6000 hover:bg-primary-500 ring-primary-6000;
      }
    }
  }
}

// .wc-wrapper-start {
//   @apply border-t border-neutral-200 dark:border-neutral-700 py-16;
// }

.woocommerce-breadcrumb,
#site-breadcrumb {
  @apply text-neutral-400 dark:text-neutral-400 text-sm text-center;
  a {
    @apply text-neutral-900 dark:text-neutral-100;
  }
}

.single-product {
  .woocommerce-breadcrumb,
  #site-breadcrumb {
    @apply text-left mb-4;
  }
}

.woocommerce-products-header__title {
  @apply text-neutral-900 font-bold text-3xl md:text-4xl 2xl:text-5xl md:leading-[120%] dark:text-neutral-100;
}

.woocommerce-products-header {
  @apply pb-16 mt-4 text-center;
}

.term-description {
  @apply text-base max-w-2xl mt-5 text-center mx-auto;
}
.woocommerce-result-count {
  @apply text-neutral-500 dark:text-neutral-400 top-1.5 text-sm sm:text-base;
}

.woocommerce-ordering select.orderby {
  @apply text-sm rounded-full;
}

.nc_wc_shop_open_div {
  .result-wrap {
    @apply flex justify-between items-center;
  }

  .products {
    @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 gap-y-10 mt-8;
  }
}
.nc_wc_shop_orderby_open_div {
  @apply items-center;
}

// PRODUCt
.products .product {
  @apply relative;
  .woocommerce-LoopProduct-link {
    @apply absolute inset-0 z-[1];
  }

  .nc_wc_thumbnail_product_open_div {
    .onsale {
      @apply absolute top-2.5 right-2.5 inline-flex items-center justify-center px-3 py-1.5 rounded-lg font-semibold text-[10px] text-white leading-none uppercase bg-red-700 z-10;
    }
    img {
      @apply rounded-2xl object-cover aspect-[9/10];
    }
  }

  .nc_wc_thumbnail_product_add_to_cart_open_div {
    @apply flex justify-center absolute z-10 bottom-3.5 inset-x-3.5 opacity-0 invisible transition-all translate-y-1 will-change-transform;
    a {
      @apply rounded-2xl text-center;
    }
  }
  &:hover {
    .nc_wc_thumbnail_product_add_to_cart_open_div {
      @apply opacity-100 translate-y-0 visible;
    }
  }
  .add_to_cart_button {
    @apply relative pointer-events-auto bg-primary-6000 py-2 px-3 font-medium text-white hover:bg-primary-500 flex-1 flex justify-center whitespace-nowrap;
    &.loading {
      @apply cursor-wait opacity-80 bg-primary-700;
      font-size: 0 !important;

      font-family: "Line Awesome Free";
      font-weight: 900;
      -webkit-font-smoothing: antialiased;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;

      &:before {
        content: "\f1ce";
        @apply absolute text-lg animate-spin;
      }
      &:after {
        content: "t";
        @apply text-base opacity-0;
      }
    }
  }
  .added_to_cart {
    @apply ml-2 flex-1;
  }

  .nc_wc_content_product_open_div {
    @apply items-start;
  }

  .woocommerce-loop-product__title {
    @apply font-medium text-base;
  }
}

.price,
.product-price {
  @apply inline-flex py-0.5 px-2 rounded-md font-semibold space-x-2 border-2 border-green-500 text-green-600 dark:text-green-500 text-sm;
  del {
    @apply text-neutral-400 dark:text-neutral-500;
  }
  ins {
    @apply no-underline text-red-500;
  }
}

.woocommerce-pagination {
  @apply mt-12;
  .page-numbers li {
    @apply m-1;
  }
}

// SINGLE
.single-product-content {
  @apply grid grid-cols-1 lg:grid-cols-12 gap-10 lg:gap-14 xl:gap-16;
  .wc-single-featured {
    @apply lg:col-span-6 relative rounded-2xl overflow-hidden z-0;
  }
  .onsale {
    @apply absolute top-2.5 right-2.5 inline-flex items-center justify-center px-2.5 py-1.5 rounded-lg font-semibold text-[10px] text-white leading-none uppercase bg-red-700 z-10;
  }

  .summary.entry-summary {
    @apply lg:col-span-6;
  }
  .product_title {
    @apply text-xl sm:text-2xl lg:text-3xl font-semibold;
  }
  .woocommerce-product-rating {
    @apply flex space-x-2 items-center text-neutral-500 dark:text-neutral-400 mt-3 mb-2 text-sm;
  }
  .price {
    @apply text-base sm:text-xl mt-3.5 rounded-lg;
  }

  .woocommerce-product-details__short-description {
    @apply text-slate-600 dark:text-neutral-300 mt-8 leading-7 text-base;
  }

  p.stock.out-of-stock {
    @apply mt-7 inline-flex items-center justify-center px-2.5 py-1.5 rounded-lg font-semibold text-xs text-white 
    leading-none uppercase bg-red-700 z-10;
  }
  p.stock.in-stock {
    @apply mt-7 inline-flex items-center justify-center px-2.5 py-1.5 rounded-lg font-semibold text-xs text-white leading-none 
    uppercase bg-green-700 z-10;
  }

  form.variations_form.cart {
    @apply flex-col mt-6;
    table {
      @apply border-separate border-spacing-0 p-4 border border-neutral-200 dark:border-neutral-700 rounded-2xl text-sm;
      select {
        @apply text-sm dark:text-neutral-300;
      }
    }

    .variations th {
      @apply text-left tracking-wide;
    }
    .variations td {
      @apply py-2.5 [&:nth-child(2)]:pl-2;
    }
  }

  .woocommerce-variation-add-to-cart {
    @apply flex mt-5;
  }
  .reset_variations {
    @apply hidden #{!important};
  }
  .single_variation_wrap {
    .woocommerce-variation-description {
      @apply my-4;
    }
    p.stock.in-stock {
      @apply mt-2;
    }
  }

  form.cart {
    @apply flex mt-8;

    &.grouped_form {
      @apply flex-col;
      table {
        @apply border-collapse table-auto w-full text-sm;
      }
      tbody {
        // @apply ;
      }
      td {
        @apply border-t border-slate-100 dark:border-slate-700 py-3 text-slate-500 dark:text-slate-400 [&:nth-child(2)]:px-3;
        a {
          @apply font-medium underline text-neutral-900 dark:text-neutral-200;
        }
      }
      button {
        @apply ml-0 mt-4;
      }
      .woocommerce-grouped-product-list-item__price {
        @apply text-green-600 dark:text-green-500 font-medium;
        del {
          @apply text-neutral-400 dark:text-neutral-500;
        }
        ins {
          @apply no-underline text-red-500;
        }
      }
    }

    .quantity {
      @apply w-20 sm:w-24 flex;
      input {
        @apply w-full block rounded-xl border-neutral-300 dark:border-neutral-500 shadow-sm focus:border-indigo-300 focus:ring
         focus:ring-indigo-200 focus:ring-opacity-50 bg-transparent text-center;
      }
    }
    button {
      @apply flex-1 ml-4 text-white bg-primary-6000 hover:bg-primary-500 ring-primary-6000;
    }
  }
}

.woocommerce-product-gallery {
  @apply relative flex flex-row-reverse;
  .woocommerce-product-gallery__wrapper {
    @apply flex-1;
  }

  a.woocommerce-product-gallery__trigger {
    @apply absolute top-2 right-2 z-10;
  }
  ol.flex-control-nav.flex-control-thumbs {
    @apply z-10 space-y-4 py-1;
    li {
      @apply w-10 sm:w-16 aspect-w-11 aspect-h-12 cursor-pointer;
      img {
        @apply object-cover rounded-xl border border-neutral-300 opacity-80 dark:opacity-60;
        &.flex-active {
          @apply opacity-100 border-neutral-900 dark:border-white border-2;
        }
      }
    }
  }
  .flex-viewport {
    @apply rounded-2xl z-0 ml-4;
  }
  .woocommerce-product-gallery__image {
    img {
      @apply w-full cursor-zoom-in;
    }
  }
}

.product_meta {
  @apply flex flex-col mt-8 pt-6 space-y-2 border-t border-neutral-200 dark:border-neutral-700 text-sm text-neutral-700 dark:text-neutral-300;
  a {
    @apply font-medium dark:text-neutral-200;
  }
}

.woocommerce-tabs.wc-tabs-wrapper {
  @apply mt-12;
}

ul.tabs.wc-tabs {
  @apply flex items-center space-x-1.5 sm:space-x-3 mx-auto border-b border-neutral-200 dark:border-neutral-700 py-4 md:py-8 overflow-x-auto;
  li {
    @apply flex-shrink-0;
    a {
      @apply py-2.5 px-4 sm:px-6 inline-flex rounded-full bg-neutral-100 dark:bg-neutral-800 dark:text-neutral-300 text-base sm:text-lg;
    }
    &.active a {
      @apply bg-neutral-900 text-white dark:bg-neutral-200 dark:text-black;
    }
  }
}

.woocommerce-Tabs-panel {
  @apply mt-8;
  &.woocommerce-Tabs-panel--description,
  &.woocommerce-Tabs-panel--additional_information {
    @apply max-w-3xl prose dark:prose-invert text-sm leading-6 sm:text-base;
  }
  > h2:first-child {
    @apply font-semibold text-xl md:text-2xl #{!important};
  }

  .woocommerce-Reviews {
    @apply max-w-3xl;
  }

  .woocommerce-Reviews-title {
    @apply text-xl md:text-2xl font-semibold mb-3;
    span {
      &::before,
      &::after {
        content: '"';
      }
    }
  }

  .woocommerce-noreviews {
    @apply p-4 bg-neutral-100 dark:bg-neutral-800 rounded-xl;
  }

  .commentlist {
    @apply mt-10;
  }

  .comment_container {
    @apply flex items-start space-x-5 pb-8;
    .avatar {
      @apply w-11 flex-shrink-0 rounded-full;
    }
    .comment-text {
      @apply flex-1 space-y-3 border-b border-neutral-200 dark:border-neutral-700 pb-8;
    }
    .meta {
      @apply text-sm text-neutral-500 dark:text-neutral-400 space-x-2;
    }
    .woocommerce-review__author {
      @apply text-neutral-900 dark:text-neutral-200 font-semibold;
    }
    .description {
      @apply prose-sm;
    }
  }

  .comment-form {
    label {
      @apply font-medium;
    }
    .required {
      @apply text-sm text-red-500 font-normal;
    }
  }

  .comment-form-rating {
    @apply col-span-2 flex items-center mt-5;
  }
  .comment-form-comment {
    @apply mt-4;
  }
}

.single-product-wrap {
  section.related.products {
    @apply block mt-10 pt-12 md:pt-20 border-t border-neutral-200 dark:border-neutral-700;
    > h2 {
      @apply text-xl lg:text-2xl font-semibold;
    }
  }
}

.pswp__zoom-wrap img {
  @apply rounded-2xl;
}

// CART
.woocommerce-cart {
  .nc_woocommerce-cart-form-wrap {
    @apply flex flex-col lg:flex-row;
  }
  .woocommerce-cart-form {
    @apply flex-1;
  }

  .woocommerce-cart-form__cart-item {
    @apply py-4 sm:py-8 space-x-3 sm:space-x-5 border-t border-neutral-200 dark:border-neutral-700;
  }

  .product-name {
    @apply text-sm sm:text-base font-medium mb-2;
  }

  .product-thumbnail {
    img {
      @apply w-16 sm:w-48 rounded-xl;
    }
  }

  .nc-product-content {
    @apply flex-1 flex-grow-[1.3] flex flex-col justify-between;
  }

  .product-subtotal {
    @apply mt-4 text-sm sm:text-base text-neutral-500 dark:text-neutral-400;
    .amount {
      @apply text-green-600;
    }
  }
  .product-quantity {
    @apply flex-1 flex justify-center;
    input.qty {
      @apply w-14 sm:w-16 text-center rounded-xl sm:pr-0.5 py-1.5 border-neutral-300 dark:border-neutral-6000 bg-transparent;
    }
  }

  .product-remove {
    @apply text-2xl font-light text-neutral-500 dark:text-neutral-400 hover:text-neutral-900 dark:hover:text-white;
  }

  .actions {
    @apply py-12 border-t border-neutral-200 dark:border-neutral-700;
  }

  .coupon {
    @apply flex flex-col sm:flex-row relative;
    label {
      @apply hidden;
    }
    input#coupon_code {
      @apply flex-1 py-2.5 bg-transparent rounded-xl border-neutral-200 dark:border-neutral-700 sm:pr-32;
    }
    .button {
      @apply px-6 sm:absolute right-0 inset-y-0 mt-2 sm:mt-0 bg-neutral-900 dark:bg-neutral-200 text-white dark:text-black;
    }
  }

  .actions .button[name="update_cart"] {
    @apply mt-8 bg-primary-6000 py-3 sm:px-6 font-medium text-white hover:bg-primary-500 flex-grow flex justify-center disabled:opacity-70;
  }

  .cart-collaterals {
    @apply lg:pl-14 min-w-[40%];
    .cart_totals {
      @apply prose dark:prose-invert lg:sticky top-20 p-5 sm:p-8 bg-slate-50 dark:bg-neutral-800 rounded-2xl;
    }
    .wc-proceed-to-checkout a {
      @apply no-underline pointer-events-auto bg-primary-6000 py-2 px-3 font-medium text-white hover:bg-primary-500 flex-grow flex justify-center;
    }
  }
}

.woocommerce-page.woocommerce-checkout {
  form.checkout_coupon.woocommerce-form-coupon,
  .woocommerce-form-login {
    @apply xl:w-1/2 flex flex-col justify-center items-center space-y-2 my-6 p-8 border border-neutral-200 dark:border-neutral-700 rounded-2xl;
    > * {
      @apply w-full text-sm;
    }
    [type="submit"] {
      @apply mt-4;
    }
  }
  .woocommerce-form-login > p:first-child {
    @apply mb-4;
  }

  #order_review_heading {
    @apply hidden;
  }
  form.checkout.woocommerce-checkout {
    @apply grid grid-cols-1 lg:grid-cols-2 gap-6 lg:gap-0;
  }
  .woocommerce-NoticeGroup {
    @apply lg:col-span-2;
  }

  #customer_details {
    @apply p-8 border border-neutral-200 dark:border-neutral-800 rounded-2xl lg:rounded-r-none lg:border-r-0;
  }

  #order_review {
    @apply w-full p-8 max-w-full prose dark:prose-invert bg-neutral-100/50 dark:bg-neutral-800 rounded-2xl lg:rounded-l-none 
    border border-neutral-200 dark:border-neutral-800;
    tfoot td {
      @apply py-1;
    }
    .woocommerce-checkout-payment,
    .form-row.place-order {
      @apply border-t border-neutral-200 dark:border-neutral-700 pt-3 mt-5;
    }
    ul {
      @apply list-none pl-0;
    }
    .payment_box {
      @apply text-sm mb-5;
    }
    .woocommerce-privacy-policy-text {
      @apply text-sm;
    }
    [type="submit"] {
      @apply pointer-events-auto bg-primary-6000 py-2 px-3 font-medium text-white hover:bg-primary-500 flex-grow flex justify-center;
    }

    // .blockUI.blockOverlay
    .blockUI.blockOverlay {
      @apply bg-neutral-100 dark:bg-neutral-800 #{!important};
    }
  }

  h3 {
    @apply text-xl font-semibold mb-5;
  }

  label.checkbox {
    [type="checkbox"] {
      @apply mb-0.5 mr-2;
    }
    span {
      @apply text-sm font-medium;
    }
  }

  .form-row {
    @apply flex flex-col mb-5;
    label {
      @apply mb-1 text-sm font-medium;
    }
  }

  .woocommerce-order {
    @apply prose dark:prose-invert max-w-full;
    h2 {
      @apply border-t border-neutral-200 dark:border-neutral-700 pt-5;
    }
  }
}

// SELEC2
.select2-container--default .select2-selection--single {
  @apply border-neutral-200 dark:border-neutral-700 rounded-xl bg-white dark:bg-neutral-800 dark:text-white h-9;
  .select2-selection__rendered {
    @apply dark:text-white leading-9;
  }
  .select2-selection__arrow {
    @apply h-8;
  }
}
.select2-container--default .select2-results__option[aria-selected="true"],
.select2-container--default .select2-results__option[data-selected="true"] {
  @apply dark:bg-primary-700;
}
.select2-dropdown {
  @apply dark:bg-neutral-800 text-sm;
}

dl.variation {
  @apply flex text-sm font-normal text-neutral-500 dark:text-neutral-400 my-1;
  dt {
    @apply hidden;
  }
  dd {
    @apply px-2 border-l border-neutral-200 dark:border-neutral-700;
    &:nth-child(2) {
      @apply pl-0 border-l-0;
    }
  }
  p {
    @apply my-0 #{!important};
  }
}
