.nc-TiptapEditor .menu-item {
  @apply flex items-center justify-center rounded-lg text-neutral-900 dark:text-white h-10 w-10 border-none hover:bg-primary-100 dark:hover:bg-neutral-700 hover:text-primary-900;

  svg {
    fill: currentColor;
    height: 100%;
    width: 100%;
  }

  &.is-active {
    background-color: #0d0d0d;
    color: #fff;
  }
}
